.header-container {
    display: flex;
    gap: 12px;
    padding: 12px;
    align-items: center;

    .logo {
        width: 32px;
        height: 32px;
    }

    h1 {
        font-size: 2rem;
        flex-grow: 1;

        &>sup {
            font-size: .7rem;
        }
    }
}