.landing-page-main-container {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>h1 {
        font-size: 6rem;
        font-weight: 700;

        &>sup {
            font-size: 1rem;
        }
    }

    &>p {
        opacity: 0.3;
    }

    .logo {
        width: 96px;
        height: 96px;
        margin-bottom: 24px;
    }
}

.landing-actions-container {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    gap: 12px;
    align-items: center;
}